@{
    ViewBag.Title = "Home Page";
}

    <img src="~/Content/homeImg.jpg" style="width: 100%;" />

    <div class="jumbotron">
        <h1><strong>VeeStore</strong></h1>
        <br />
        <p><strong>VeeStore</strong> is an eCommerce platform that is specialized in selling digital content such as gift cards and online subscriptions, especially the highest quality and most needed from those products, and to make sure these products do match our standards, we only buy from the manufacturers themselves and check the authenticity of every product before making it available for sale. Our desire is to create an online store fueled by people interest and passion, so we created a store where people can buy the latest and most requested gift cards easily and cost-friendly.</p>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Products")"><h5 style="letter-spacing: 1.5px;"><strong>Start Shopping!</strong></h5></a>
        <br /><br />
              <h2><strong>OUR GOALS</strong></h2>
        <div class="row" style="margin: auto;">
            <div class="col-md-12" style="margin: auto; width:auto;">
                <ol>
                    <h4>
                        <li>
                            Providing the most requested gift cards and subscriptions <strong>all in one place</strong> for our customers.
                        </li>
                    </h4>
                    <h4>
                        <li>
                            Selling these products at the <strong>best possible price</strong>.
                        </li>
                    </h4>
                    <h4>
                        <li>
                            Providing a <strong>unique</strong> and fun shopping experience for our customers and visitors
                        </li>
                    </h4>
                </ol>

            </div>
        </div>

    </div>

@*<div class="row text-center" style="margin: auto;">
    <div class="col-md-12 text-center" style="margin: auto;">
        <h2>Discover some of our products!</h2>
        <p>We provide instant</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>*@